doctype html
html
  head
    title= title




    link(rel='stylesheet', href='/stylesheets/view.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jsmpg.js")
    script(src="/socket.io/socket.io.js")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEbcMGtR9BHNcHmEfeb8SXYR-V-g11nMY')


    script(src="/javascripts/moment.js")
    script(src="/javascripts/htmlElements.js")
    script(src="/javascripts/forms.js")

    script(src="/javascripts/functions_global.js")


    script(src="/javascripts/main.js")
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  body
    block content
