body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#videoElement {
  width: 1024px;
  height: 800px;

}
img{
  max-width: 640px;
  max-height: 320px;

}
